// @use "variables" as vars;

// Footer
.footer-links {
  display: inline-flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 1rem;
  & i {
    font-size: 1.25rem;
  }
}

.footer-content {
  text-align: center;
}

// Code
pre {
  overflow-x: scroll;
  padding: 1rem;
}
code {
  overflow-wrap: break-word;
}
