@use "variables" as vars;

.footer-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  & i {
    font-size: 1.25rem;
  }
}

.social-nav {
  display: flex;
  list-style: none;
  gap: 1rem;
  & i {
    font-size: 1.25rem;
  }
}

.social-nav-homepage {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

#homepage-picture {
  border-radius: 50%;
  margin-right: 1rem;
  filter: grayscale(1);
}

#site-title {
  margin: auto;
  width: 100%;
}

.site-nav {
  display: flex;
  // width: 100%;
}

#breadcrumbs {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.loop-title {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

time {
  font-size: 14px;
}

.nav-icons {
  display: inline-flex;
  list-style: none;
  gap: 1rem;
}

#homepage-nav {
display: flex;
}

.nav-icons-homepage {
  display: flex;
  list-style: none;
  gap: 1rem;
}