@use "variables" as vars;

// Header
#site-title {
  width: 100%;
  font-size: 24px;
  margin: auto;
}

.site-nav {
  display: flex;
}

.site-nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

// Footer
.footer-links {
  display: inline-flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 1rem;
  & i {
    font-size: 1.25rem;
  }
}

.footer-content {
  text-align: center;
}

// Unsorted
.blog-title {
  margin: 1rem 0;
}

::selection {
  background: rebeccapurple;
  color: white;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
}

.loop-title {
  font-size: 24px;
  margin-bottom: 0rem;
}

.toc-summary {
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: solid;
  }
}