// LAyout related
$page-width: 70ch;
$line-height: 1.618;
$font-family: Bitter, serif;

// Theme relted
$text-color: black;
$background: white;
$hover-color: rgb(199, 45, 96);
$translucent: rgba(0, 0, 0, 0.1);
