@charset "utf-8";

@use "variables" as vars;
@use "fonts";
@use "homepage";
@use "custom";
// @use "extra";

// Main Layout
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: vars.$font-family;
}

* {
  line-height: vars.$line-height;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: vars.$page-width;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

// Links
a {
  font-weight: 600;
  color: inherit;
  text-decoration: underline 0.15rem rgba(0, 0, 0, 0);
  transition-duration: 0.4s;

  &:hover {
    color: vars.$hover-color;
    text-decoration: underline 0.15rem;
    transition-duration: 0.4s;
    // text-decoration-color: rgba(0, 0, 0, 1);
  }
}

// Tables
table {
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 100%;
}

table thead th,
table tfoot th {
  background: vars.$translucent;
}

table th,
table td {
  border: 1px solid vars.$translucent;
  padding: 4px !important;
}

// Header
#site-title {
  width: 100%;
  font-size: 24px;
  margin: auto;
}

.site-nav {
  display: flex;
}

.site-nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

// Misc. Items
time {
  font-size: 14px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
}

.loop-title {
  font-size: 24px;
  margin-bottom: 0rem;
}

// Media and Layout
@media screen and (max-width: 1000px) {
  body {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  #homepage-body {
    justify-content: inherit;
  }

  #homepage-social-list {
    display: none;
  }
}

// Force details, toc open/closed based on page width.
// details {
//   --details-force-closed: (max-width: 47.9375em);
// }
