@charset "utf-8";

@use "variables" as vars;
@use "fonts";
@use "homepage";
@use "custom";

// Main Layout
html {
  line-height: 1.25;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Bitter, serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: vars.$pagewidth;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

// Links
a {
  font-weight: 600;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: vars.$hovercolor;
    text-decoration: underline 2px;
  }
}

// Tables
table {
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 100%;
}

table thead th,
table tfoot th {
  background: vars.$translucent;
}

table th,
table td {
  padding: 4px !important;
}

// Header
#site-title {
  width: 100%;
}

.site-nav {
  display: flex;
}

.site-nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

// Footer
.footer-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  & i {
    font-size: 1.25rem;
  }
}

// Misc. Items
time {
  font-size: 14px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
}

.loop-title {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

// Media and Layout
@media screen and (max-width: 1500px) {
  .placeholder {
    color: inherit;
  }
}

@media screen and (max-width: 999px) {
  .placeholder {
    color: inherit;
  }
}

// Force details, toc open/closed based on page width.
// details {
//   --details-force-closed: (max-width: 47.9375em);
// }
