{% if section.pages %}
{% for page in section.pages %}

<article>
  <a href="{{ page.permalink }}">
    <h2 class="loop-title">{{ page.title | safe }}</h2>
  </a>
  <time class="loop-time" itemprop="datePublished" datetime="{{ page.date | safe }}">{{ page.date | date(format="%B %e,
    %Y") | safe }} •
    {{
    page.reading_time }} minutes</time>
  {% if page.description %}
  <p>{{ page.description | safe }} <a href="{{ page.permalink | safe }}">Read more…</a></p>
  {% endif %}
</article>
{% endfor %}
{% endif %}