{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h2>404: Page Not Found</h2>
    </header>
    <p>The page or project you're looking for cannot be found!</p>

    {#
    <pre id="dreg-404">
                           ^\    ^
                          / \\  / \
                         /.  \\/   \      |\___/|
      *----*           / / |  \\    \  __/  O  O\
      |   /          /  /  |   \\    \_\/  \     \
     / /\/         /   /   |    \\   _\/    '@___@
    /  /         /    /    |     \\ _\/       |U
    |  |       /     /     |      \\\/        |
    \  |     /_     /      |       \\  )   \ _|_
    \   \       ~-./_ _    |    .- ; (  \_ _ _,\'
    ~    ~.           .-~-.|.-*      _        {-,
     \      ~-. _ .-~                 \      /\'
      \                   }    404     {   .*
       ~.                 '-/        /.-~----.
         ~- _             /        >..----.\\\
             ~ - - - - ^}_ _ _ _ _ _ _.-\\\
    </pre> #}

    <p>Click <a href="{{ config.base_url }}">here</a> to go back.</p>

</article>
{% endblock content %}