<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ config.title }} | Home</title>
  <meta name="description" itemprop="about" content="{{ config.description }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
</head>

<body id="homepage-body">

  <header>

    <div id="homepage-logo-container">
      <a href="{{ config.base_url}}" aria-label="{{ config.title }}">
        <img src="./387-100x100.jpg" alt="Profile Picture" height="75px" width="75px" id="homepage-logo" />
      </a>
      <h1 id="homepage-title">
        {{ config.title }}
      </h1>
    </div>

    <nav class="homepage-nav">
      <ul id="homepage-nav-list">
        {% for link in config.extra.internalLinks %}
        <li>
          <a class="site-nav" href="{{ get_url(path=link.url )}}/" aria-label="{{ link.name }}">{{ link.name }}</a>
        </li>
        {% endfor %}
      </ul>

      <ul id="homepage-social-list">
        <li>
          <a href="https://forgetfulnotes.com/" aria-label="Digital Garden" target="_blank">
            <i class="fa-solid fa-seedling"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/semanticdata/zola-guava/" aria-label="GitHub" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li>
          <a href="mailto:contact@miguelpimentel.do" aria-label="Email" target="_blank">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>

  </header>

  <main id="homepage-content">
    {% if section.content %}
    {{ section.content | safe }}
    {% endif %}
  </main>

</body>

</html>