{% extends "base.html" %}

{# {% block breadcrumbs %}
{% include "partials/breadcrumbs.html" %}
{% endblock breadcrumbs %} #}

{% block content %}
<article>
  <h1 class="page-title">{{ page.title }}</h1>

  {% if page.toc %}
  {% include "partials/toc.html" %}
  {% endif %}

  {% if page.description %}
  <blockquote>
    {{ page.description }}
  </blockquote>
  {% endif %}

  {# {% if page.toc %}
  {% include "partials/toc.html" %}
  {% endif %} #}

  {{ page.content | safe }}
</article>
{% endblock content %}